.main-header {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 85, 255));
    color: white;
    text-align: right;
}
.left-nav {
    background-color: lightsteelblue;
    border-radius: 10px;
}

.card img {
    width: 40px;
}

